# Ficheiros de Dependências
node_modules/

# Ficheiros de Build (JavaScript compilado)
dist/

# Ficheiros de Ambiente (Contém senhas!)
.env

# Logs
*.log
npm-debug.log*

# Ficheiros do Sistema Operacional
.DS_Store